body{
    font-family: 'Roboto', sans-serif;
    background-color: #e3f2fd;
}

hr {
    margin-top: 100px;
}

footer {
    background-color: #282c34;
    padding: 5%;
}

article {
    padding: 5%;
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

.logo {
    max-width: 75px;
    max-height: 75px;
    width: auto;
    height: auto;
}

.bg-navbar {
    background-color: #e3f2fd;
}

.container {
    padding-bottom: 150px;
}

.user-data {
    padding-top: 90px;
}

.card {
    padding: 5%;
}

#footer-text {
    color: #fff;
    text-align:center;
}